.container {
    width: 500px;
    height: 700px;
    margin: 0 auto;
}

.baseFormat{
    width: 500px;
    height: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.inputDefault {
    width: 100%;
    margin: 10px;
}

.btnDefault {
    width: 100%;
    padding: 10px 70px;
    background-color: white; 
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.btnActive{
    width: 100%;
    padding: 10px 70px;
    background-color: rgb(52, 152, 219); 
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    color: white;
}
