.baseFormat{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.imageArea{
    height: 450px;
    display: flex;
    align-items: center;
}
